#carosel {
  width: 100%;
  height: 900px;
  background-size: cover;
  .container {
    .row {
      padding-top: 379px;
      .col-2 {
        padding-top: 20px;
        .left {
          display: flex;
          .left-wrapper {
            width:18px;
            display: flex;
            align-items: center;
            margin-right: 18px;
            span {
              width: 18px;
              position: absolute;
              height: 3px;
              background-color: #DCBF01;
            }
          }

          p {
          margin: 0;
          color: white;
          font-size: 14px;
          font-family: 'Montserrat';
          }
        }
      }
      .col {
        padding-left: 10px;
        h1 {
          font-size: 72px;
          color: white;
          font-family: 'Montserrat';
          font-weight: 300px;
          line-height: 88px;
        }
      }
    }
    .button {
      padding-top: 146px;
      .left {
        display: flex;
        align-items: center;
        width: 62px;
        h3 {
          font-family: 'Montserrat';
          color: white;
          font-size: 24px;
          margin: 0;
          span {
            font-size: 14px;
          }
        }
      }
      .col {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 46px;
        .col-left {
          display: flex;
          .wrapper {
            border: 2px solid #fff;
            border-radius: 100px;
            img {
              height: 14px;
              width: 14px;
              margin: 14px;
            }
          }
          .wrapper:nth-child(1) {
            border: 2px solid #fff;
            opacity: 0.5;
          }
          
        }
        .col-right {
          display: flex;
          img {
            height: 36px;
          }
          p {
            color: white;
            font-size: 14px;
            margin-bottom: 0;
            margin-left: 19px;
          }
        }
      }
    }
  }
}


#team {
  background-color: #1C1C1C;
  padding: 179px 0;
  .container {
    .team-wrapper {
      margin: 0 auto;
      max-width: 920px;
      .content-top {
        color: #DCBF01;
        font-family: 'Montserrat';
      }
      p {
        font-size: 40px;
        color: white;
        line-height: 72px;
        font-family: 'Montserrat';
      }
      .content-bottom {
        display: flex;
        align-items: center;
        margin-top: 100px;
        span {
          height: 2px;
          width: 65px;
          background-color: orange;
        }
        p {
          font-size: 20px;
          margin-bottom: 0px;
          margin-left: 32px;
        }

      }
    }
  }
}

#product {
  padding: 126px 0;
  background-color: #000000;
  .container {
    .title {
      margin-left: 100px;
      color: white;
      font-family: 'Montserrat' ;
      font-size: 48px;
    }

    .product-wrapper {
      margin-top: 96px;
      .product-left {
        margin-right: 120px;
        width: auto;
        img {
          width: 350px;
        }
      }
      .product-right {
        menu {
          ul {
            display: flex;
            padding: 0;
            li {
              width: 90px;
              border-bottom: 4px solid transparent;
              margin-right: 29px;
              p {
                color:  white;
                font-size: 14px;
              }
            }
            li:nth-child(1) {
              border-bottom: 2px solid #DCBF01;
            }
            li:hover {
              border-bottom: 2px solid #DCBF01;
            }
          }
        }
        .button-slide {
          margin-top: 49px;
          align-items: center;
          p {
            color: white;
            margin-bottom: 0px;
            margin-right: 48px;
            font-family: 'Montserrat';
            font-size: 24px;
            span {
              font-size: 12px;
              font-family: 'Montserrat';
            }
          }
          button {
            background-color: transparent;
            border-radius: 100px;
            border: 1.5px solid white;
            margin-right: 42px;
            padding: 0;
            img {
              margin: 16px;
              width: 16px;
              height: 16px;
            }
          }
          button:nth-child(1) {
            opacity: 0.5;
            margin-right: 42px;
          }
        }
        .title-content {
          margin-top: 48px;
          color: white;
          font-family: 'Montserrat';
          font-size: 48px;
        }
        .content {
          margin-top: 48px;
          .dekstop {
            color: white;
            font-family: 'Montserrat';
            font-size: 17px;
            line-height: 32px;
          }
          .mobile{
            display: none;
          }
          a {
            color: #DCBF01;
            text-decoration: none;
            font-family: 'Montserrat';
            font-size: 17px;
            span {
              margin-left: 29px;
            }
          }
        }
      }
    }
  }
}


#about-partner {
  background-color: #000000;
  padding: 100px 0;
  .container {
    .row {
      display: flex;
      .about-left {
        display: flex;
        width: 495px;
        align-items: flex-start;
        .about-wrapper {
          width: 100%;
          justify-content: flex-end;
          display: flex;
          align-items: center;
          padding-right: 10px;
          .title {
            margin-right: 40px;
            color: white;
            font-family: 'Montserrat';
            font-size: 40px;
          }
          span {
            height: 2px;
            width: 65px;
            background-color: #DCBF01;
          }
        }
      }
      .about-right {
        .right-wrapper {
          width: 100%;
          .about-top {
            img {
              width: 100%;;
            }
          }
          .content {
            p {
              font-size: 17px;
              font-family: 'Maven Pro';
              color: white;
              margin-top: 64px;
            }
          }
          .logo {
            margin-top: 64px;
            grid-template-columns: 1fr 1fr 1fr;
            display: grid;
            column-gap: 40px;
            .logo-wrapper {
              background-color: #343434;
              padding: 49.81px 0;
              display: flex; 
              align-items: center;
              img {
                display: flex;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }
}

#quotes {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 270px 0;
}
.container {
  .quotes-wrapper {
      display: flex;
    .logo-quotes {
      width: auto;
      img {
        max-width: 361px;
      }
    }
    .quotes-content {
      display: flex;
      align-items: center;
      h1 {
        font-family: 'Montserrat';
        color: white;
        font-size: 48px;
        line-height: 72px;
      }
    }
  }
}


#our-work {
  padding: 119px 0;
  background-color: #1F1F1F;
  .container {
    .title {
      h1 {
        color: white;
        font-size: 40px;
        font-family: 'Montserrat';
      }
      p {
        color: #DCBF01;
        span {

        }
      }
    }
    .grid{
      display: grid;
      margin-top: 53px;
      column-gap: 30px;
      grid-template-columns: 1fr 1fr 1fr;
      .card-gambar {
        img {
          width: 100%;
        }
        p {
          color: white;
          font-family: 'Montserrat';
          font-size: 24px;
          margin-top: 36px;
        }
      }
      .dua {
        margin-top: 100px;
      }
    }
  }
}

#appro {
  padding: 135px 0;
  background-color: black;
  .container {
    .row {
      max-width: 1300PX;
      margin: 0 auto;
      .left {
        .left-wrapper {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          h1 {
            color: white;
            margin-right: 100px;
          }
          span {
            background-color: #DCBF01;
            height: 2px;
            width: 100px;
          }
        }
      }
      .col-6 {
        p {
          color: white;
          font-family: 'Montserrat';
          font-size: 15px;
          line-height: 32px;
        }
      }
      .box-wrapper {
        margin-top: 58px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 118px;
        column-gap: 93px;
        .box {
          background-color: #343434;
        }
      }
    }
  }
}

#clien {
  background-color: #1F1F1F;
  padding: 225px 0;
  .container-fluid {
    .flex {
      display: flex;
      justify-content: space-between;
      .left{
        justify-content: center;
          align-items: center;
          display: flex;
          width: 545px;
        .left-wrapper {
          .title{
            h1 {
              color: white;
              font-size: 40px;
              font-family: 'Montserrat';
            }
          }
          .content {
            p {
              color: white;
              font-size: 16px;
              font-family: 'Montserrat';
            }
          }
          .action {
            display: flex;
            align-items: center;
            .total {
              margin-right: 48px;
              p {
                color: white;
                font-size: 24px;
                font-family: 'Montserrat';
                span {
                  font-size: 14px;
                }
              }
            }
            .arrow {
              margin-right: 32px;
              border: 1px solid white;
              border-radius: 24px;
              height: 48px;
              img {
                margin: 16px;
              }
            }
          }
        }
      }
      .right {
        display: flex;
        align-items: center;
        .center {
          width: 350px;
          height: 350px;
          background: #252525;
          display: flex;
          align-items: center;
          img {
            width: 270px;
            margin: 0 auto;
          }
        }
        .box {
          background: #252525;
          height: 300px;
          width: 300px;
          margin-left: 30px;
          overflow: hidden;
          img {
            // margin: 0 auto;
            // height: 46px;
            // width: 270px;
          }
        }
        .box-right {
          width: 150px;
          height: 300px;
          background: #252525;
          display: flex;
          align-items: center;
          margin-left: 30px;
          img {
            width: 270px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

#contact {
  background: black;
  padding: 100px 0;
  .container {
    .contact-wrapper {
      margin: 0 auto;
      width: 600px;
      .title {
        h1 {
          color: white;
          margin-bottom: 38px;
          font-family: 'Montserrat', sans-serif;
          font-size: 34px;
        }
      }
      .content {
        p {
          color: white;
          font-family: 'Montserrat' ;
          font-size: 17px;
          line-height: 32px;
        }
      }
      .form {
        .form-wrapper {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 15px;
          .col{
            input {
              background-color: transparent;
              border-top: 1px solid transparent;
              border-left: 1px solid transparent;
              border-right: 1px solid transparent;
              border-bottom: 1px solid #969696;
              margin-bottom: 25px;
              width: 100%;
            }
          }
        }
      }
      .text-area {
        width: 100%;
        form {
          width: 100%;
          #text-area {
            width: 100%;
            background-color: transparent;
            color: #969696;
            border-top: 1px solid transparent;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            border-bottom: 1px solid #969696;
          }
        }
      }
      .wrapper {
        margin-top: 63px;
        display: flex;
        justify-content: center;
        a {
          color: #DCBF01;
          text-decoration: none;
        }
      }
    }
  }
}

.footer {
  background-color: black;
  padding: 118px 0;
  .container {
    .row {
      align-content: flex-end;
      .foo-left {
        h1 {
          color: white;
          font-family: 'Montserrat';
          margin-bottom: 23px;
        }
        p {
          color: white;
          font-family: 'Maven Pro';
          line-height: 17px;
          margin-bottom: 23px;
        }
      }
      .foo-right {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        .right-wrapper {
          .sosmed{
            display: flex;
            justify-content: flex-end;
            .icon {
              margin-right: 18px;
              margin-bottom: 23px;
            }
          }
          .copyright {
            p{
              color: white;
              font-family: 'Montserrat';
            }
          }
        }
      }
    }
  }
}
