#carosel {
  width: 100%;
  height: 900px;
  background-size: cover;
}
#carosel .container .row {
  padding-top: 379px;
}
#carosel .container .row .col-2 {
  padding-top: 20px;
}
#carosel .container .row .col-2 .left {
  display: flex;
}
#carosel .container .row .col-2 .left .left-wrapper {
  width: 18px;
  display: flex;
  align-items: center;
  margin-right: 18px;
}
#carosel .container .row .col-2 .left .left-wrapper span {
  width: 18px;
  position: absolute;
  height: 3px;
  background-color: #DCBF01;
}
#carosel .container .row .col-2 .left p {
  margin: 0;
  color: white;
  font-size: 14px;
  font-family: "Montserrat";
}
#carosel .container .row .col {
  padding-left: 10px;
}
#carosel .container .row .col h1 {
  font-size: 72px;
  color: white;
  font-family: "Montserrat";
  font-weight: 300px;
  line-height: 88px;
}
#carosel .container .button {
  padding-top: 146px;
}
#carosel .container .button .left {
  display: flex;
  align-items: center;
  width: 62px;
}
#carosel .container .button .left h3 {
  font-family: "Montserrat";
  color: white;
  font-size: 24px;
  margin: 0;
}
#carosel .container .button .left h3 span {
  font-size: 14px;
}
#carosel .container .button .col {
  margin-left: 46px;
}
#carosel .container .button .col .col-left .wrapper {
  border: 2px solid #fff;
  border-radius: 100px;
}
#carosel .container .button .col .col-left .wrapper img {
  height: 14px;
  width: 14px;
  margin: 14px;
}
#carosel .container .button .col .col-left .wrapper:nth-child(1) {
  border: 2px solid #fff;
  opacity: 0.5;
}
#carosel .container .button .col .col-right img {
  height: 36px;
}
#carosel .container .button .col .col-right p {
  color: white;
  font-size: 14px;
  margin-bottom: 0;
  margin-left: 19px;
}

#team {
  background-color: #1C1C1C;
  padding: 179px 0;
}
#team .container .team-wrapper {
  margin: 0 auto;
  max-width: 920px;
}
#team .container .team-wrapper .content-top {
  color: #DCBF01;
  font-family: "Montserrat";
}
#team .container .team-wrapper p {
  font-size: 40px;
  color: white;
  line-height: 72px;
  font-family: "Montserrat";
}
#team .container .team-wrapper .content-bottom {
  display: flex;
  align-items: center;
  margin-top: 100px;
}
#team .container .team-wrapper .content-bottom span {
  height: 2px;
  width: 65px;
  background-color: orange;
}
#team .container .team-wrapper .content-bottom p {
  font-size: 20px;
  margin-bottom: 0px;
  margin-left: 32px;
}

#product {
  padding: 126px 0;
  background-color: #000000;
}
#product .container .title {
  margin-left: 100px;
  color: white;
  font-family: "Montserrat";
  font-size: 48px;
}
#product .container .product-wrapper {
  margin-top: 96px;
}
#product .container .product-wrapper .product-left {
  margin-right: 120px;
  width: auto;
}
#product .container .product-wrapper .product-left img {
  width: 350px;
}
#product .container .product-wrapper .product-right menu ul {
  display: flex;
  padding: 0;
}
#product .container .product-wrapper .product-right menu ul li {
  width: 90px;
  border-bottom: 4px solid transparent;
  margin-right: 29px;
}
#product .container .product-wrapper .product-right menu ul li p {
  color: white;
  font-size: 14px;
}
#product .container .product-wrapper .product-right menu ul li:nth-child(1) {
  border-bottom: 2px solid #DCBF01;
}
#product .container .product-wrapper .product-right menu ul li:hover {
  border-bottom: 2px solid #DCBF01;
}
#product .container .product-wrapper .product-right .button-slide {
  margin-top: 49px;
  align-items: center;
}
#product .container .product-wrapper .product-right .button-slide p {
  color: white;
  margin-bottom: 0px;
  margin-right: 48px;
  font-family: "Montserrat";
  font-size: 24px;
}
#product .container .product-wrapper .product-right .button-slide p span {
  font-size: 12px;
  font-family: "Montserrat";
}
#product .container .product-wrapper .product-right .button-slide button {
  background-color: transparent;
  border-radius: 100px;
  border: 1.5px solid white;
  margin-right: 42px;
  padding: 0;
}
#product .container .product-wrapper .product-right .button-slide button img {
  margin: 16px;
  width: 16px;
  height: 16px;
}
#product .container .product-wrapper .product-right .button-slide button:nth-child(1) {
  opacity: 0.5;
  margin-right: 42px;
}
#product .container .product-wrapper .product-right .title-content {
  margin-top: 48px;
  color: white;
  font-family: "Montserrat";
  font-size: 48px;
}
#product .container .product-wrapper .product-right .content {
  margin-top: 48px;
}
#product .container .product-wrapper .product-right .content p {
  color: white;
  font-family: "Montserrat";
  font-size: 17px;
  line-height: 32px;
}
#product .container .product-wrapper .product-right .content a {
  color: #DCBF01;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 17px;
}
#product .container .product-wrapper .product-right .content a span {
  margin-left: 29px;
}

#about-partner {
  background-color: #000000;
  padding: 100px 0;
}
#about-partner .container .row .about-left {
  display: flex;
  width: 495px;
  align-items: flex-start;
}
#about-partner .container .row .about-left .about-wrapper {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  padding-right: 10px;
}
#about-partner .container .row .about-left .about-wrapper .title {
  margin-right: 40px;
  color: white;
  font-family: "Montserrat";
  font-size: 40px;
}
#about-partner .container .row .about-left .about-wrapper span {
  height: 2px;
  width: 65px;
  background-color: #DCBF01;
}
#about-partner .container .row .about-right .right-wrapper {
  max-width: 540px;
}
#about-partner .container .row .about-right .right-wrapper .about-top img {
  max-width: 540px;
}
#about-partner .container .row .about-right .right-wrapper .content p {
  font-size: 17px;
  font-family: "Maven Pro";
  color: white;
  margin-top: 64px;
}
#about-partner .container .row .about-right .right-wrapper .logo {
  margin-top: 64px;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
#about-partner .container .row .about-right .right-wrapper .logo .logo-wrapper {
  background-color: #343434;
  padding: 49.81px 0;
  display: flex;
  align-items: center;
}
#about-partner .container .row .about-right .right-wrapper .logo .logo-wrapper img {
  display: flex;
  margin: 0 auto;
}

#quotes {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 270px 0;
}

.container .quotes-wrapper {
  display: flex;
}
.container .quotes-wrapper .logo-quotes {
  width: auto;
}
.container .quotes-wrapper .logo-quotes img {
  max-width: 361px;
}
.container .quotes-wrapper .quotes-content {
  display: flex;
  align-items: center;
}
.container .quotes-wrapper .quotes-content h1 {
  font-family: "Montserrat";
  color: white;
  font-size: 48px;
  line-height: 72px;
}

#our-work {
  padding: 119px 0;
  background-color: #1F1F1F;
}
#our-work .container .title h1 {
  color: white;
  font-size: 40px;
  font-family: "Montserrat";
}
#our-work .container .title p {
  color: #DCBF01;
}
#our-work .container .grid {
  display: grid;
  margin-top: 53px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}
#our-work .container .grid .card-gambar img {
  width: 100%;
}
#our-work .container .grid .card-gambar p {
  color: white;
  font-family: "Montserrat";
  font-size: 24px;
  margin-top: 36px;
}
#our-work .container .grid .dua {
  margin-top: 100px;
}

#appro {
  padding: 135px 0;
  background-color: black;
}
#appro .container .row {
  max-width: 1300PX;
  margin: 0 auto;
}
#appro .container .row .left .left-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#appro .container .row .left .left-wrapper h1 {
  color: white;
  margin-right: 100px;
}
#appro .container .row .left .left-wrapper span {
  background-color: #DCBF01;
  height: 2px;
  width: 100px;
}
#appro .container .row .col-6 p {
  color: white;
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 32px;
}
#appro .container .row .box-wrapper {
  margin-top: 58px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 118px;
  -moz-column-gap: 93px;
       column-gap: 93px;
}
#appro .container .row .box-wrapper .box {
  background-color: #343434;
}

#clien {
  background-color: #1F1F1F;
  padding: 225px 0;
}
#clien .container-fluid .d-flex {
  justify-content: space-between;
}
#clien .container-fluid .d-flex .left {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 545px;
}
#clien .container-fluid .d-flex .left .left-wrapper .title h1 {
  color: white;
  font-size: 40px;
  font-family: "Montserrat";
}
#clien .container-fluid .d-flex .left .left-wrapper .content p {
  color: white;
  font-size: 16px;
  font-family: "Montserrat";
}
#clien .container-fluid .d-flex .left .left-wrapper .action {
  display: flex;
  align-items: center;
}
#clien .container-fluid .d-flex .left .left-wrapper .action .total {
  margin-right: 48px;
}
#clien .container-fluid .d-flex .left .left-wrapper .action .total p {
  color: white;
  font-size: 24px;
  font-family: "Montserrat";
}
#clien .container-fluid .d-flex .left .left-wrapper .action .total p span {
  font-size: 14px;
}
#clien .container-fluid .d-flex .left .left-wrapper .action .arrow {
  margin-right: 32px;
  border: 1px solid white;
  border-radius: 24px;
  height: 48px;
}
#clien .container-fluid .d-flex .left .left-wrapper .action .arrow img {
  margin: 16px;
}
#clien .container-fluid .d-flex .right {
  display: flex;
  align-items: center;
}
#clien .container-fluid .d-flex .right .center {
  width: 350px;
  height: 350px;
  background: #252525;
  display: flex;
  align-items: center;
}
#clien .container-fluid .d-flex .right .center img {
  width: 270px;
  margin: 0 auto;
}
#clien .container-fluid .d-flex .right .box {
  background: #252525;
  height: 300px;
  width: 300px;
  margin-left: 30px;
  overflow: hidden;
}
#clien .container-fluid .d-flex .right .box-right {
  width: 150px;
  height: 300px;
  background: #252525;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
#clien .container-fluid .d-flex .right .box-right img {
  width: 270px;
  margin: 0 auto;
}

#contact {
  background: black;
  padding: 100px 0;
}
#contact .container .contact-wrapper {
  margin: 0 auto;
  width: 600px;
}
#contact .container .contact-wrapper .title h1 {
  color: white;
  margin-bottom: 38px;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
}
#contact .container .contact-wrapper .content p {
  color: white;
  font-family: "Montserrat";
  font-size: 17px;
  line-height: 32px;
}
#contact .container .contact-wrapper .row .col input {
  background-color: transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #969696;
  margin-bottom: 25px;
  width: 100%;
}
#contact .container .contact-wrapper .text-area {
  width: 100%;
}
#contact .container .contact-wrapper .text-area form {
  width: 100%;
}
#contact .container .contact-wrapper .text-area form #text-area {
  width: 100%;
  background-color: transparent;
  color: #969696;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #969696;
}
#contact .container .contact-wrapper .wrapper {
  margin-top: 63px;
  display: flex;
  justify-content: center;
}
#contact .container .contact-wrapper .wrapper a {
  color: #DCBF01;
  text-decoration: none;
}

.footer {
  background-color: black;
  padding: 118px 0;
}
.footer .container .row {
  align-content: flex-end;
}
.footer .container .row .foo-left h1 {
  color: white;
  font-family: "Montserrat";
  margin-bottom: 23px;
}
.footer .container .row .foo-left p {
  color: white;
  font-family: "Montserrat";
  line-height: 17px;
  margin-bottom: 23px;
}
.footer .container .row .foo-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.footer .container .row .foo-right .right-wrapper .sosmed {
  display: flex;
  justify-content: flex-end;
}
.footer .container .row .foo-right .right-wrapper .sosmed .icon {
  margin-right: 18px;
  margin-bottom: 23px;
}
.footer .container .row .foo-right .right-wrapper .copyright p {
  color: white;
  font-family: "Montserrat";
}/*# sourceMappingURL=main.css.map */