#product {
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 400px;
}
#product .container .product-wrapper {
  display: flex;
}
#product .container .product-wrapper .left {
  width: 200px;
}
#product .container .product-wrapper .left .left-wrapper {
  display: flex;
  align-items: center;
}
#product .container .product-wrapper .left .left-wrapper span {
  height: 3px;
  width: 18px;
  background-color: #dcbf01;
  margin-right: 15px;
}
#product .container .product-wrapper .left .left-wrapper p {
  margin: 0;
  color: white;
  font-family: "Montserrat";
  font-size: 14px;
}
#product .container .product-wrapper .right h1 {
  color: white;
  font-size: 61px;
  font-weight: 300px;
  font-family: "Montserrat";
  margin-bottom: 40px;
}
#product .container .product-wrapper .right .none-desktop {
  display: none;
}
#product .container .product-wrapper .right p {
  font-size: 24px;
  font-family: "Montserrat";
  color: white;
  line-height: 29.26px;
}
#product .container .action {
  margin-top: 152px;
  display: flex;
}
#product .container .action p {
  font-size: 24px;
  font-family: "Montserrat";
  color: white;
  margin-bottom: 0;
  margin-right: 48px;
  display: flex;
  align-items: center;
}
#product .container .action p span {
  font-size: 14px;
  font-family: "Montserrat";
}
#product .container .action .action-right,
#product .container .action .action-left {
  background: transparent;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1.5px solid white;
  height: 48px;
  width: 48px;
  border-radius: 26px;
  margin-right: 32px;
}
#product .container .action .action-right img,
#product .container .action .action-left img {
  width: 16px;
  height: 16px;
}
#product .container .action .action-left {
  border: 1.5px solid rgba(255, 255, 255, 0.5);
}
#product .container .action .action-left img {
  opacity: 0.5;
}

#our-product {
  padding: 85px 0;
  background: black;
}
#our-product .container .title h1 {
  font-size: 48px;
  font-family: "Montserrat";
  color: white;
}
#our-product .container .content {
  margin-top: 72px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 160px;
       column-gap: 160px;
}
#our-product .container .content .top {
  margin-top: 300px;
}
#our-product .container .content .card {
  background: black;
}
#our-product .container .content .card img {
  height: 570px;
}
#our-product .container .content .card h1 {
  margin: 40px 0;
  font-size: 20px;
  font-family: "Montserrat";
  color: white;
}
#our-product .container .content .card p {
  font-size: 17px;
  color: white;
  font-family: "Maven Pro";
}

#subcribe {
  padding: 57px 0;
  background: #1C1C1C;
}
#subcribe .container .subcribe-wrapper {
  width: 600px;
  margin: 0 auto;
}
#subcribe .container .subcribe-wrapper .title h1 {
  text-align: center;
  color: white;
  font-size: 34px;
  font-family: "Montserrat";
}
#subcribe .container .subcribe-wrapper .content p {
  font-size: 17px;
  margin-top: 16px;
  font-family: "Maven Pro";
  color: white;
  text-align: center;
  line-height: 32px;
}
#subcribe .container .subcribe-wrapper form {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
#subcribe .container .subcribe-wrapper form input {
  width: 425px;
  background: transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid white;
  font-family: "Maven Pro";
}
#subcribe .container .subcribe-wrapper form a {
  text-decoration: none;
  display: flex;
  color: #dcbf01;
  margin-left: 59px;
  align-items: center;
  font-family: "Poppins";
  font-size: 16px;
}
#subcribe .container .subcribe-wrapper form a span {
  margin-left: 13px;
  display: flex;
}

.footer {
  background-color: black;
  padding: 118px 0;
}
.footer .container .row {
  align-content: flex-end;
}
.footer .container .row .foo-left h1 {
  color: white;
  font-family: "Montserrat";
  font-size: 24px;
  margin-bottom: 23px;
}
.footer .container .row .foo-left p {
  color: white;
  font-family: "Montserrat";
  line-height: 17px;
  margin-bottom: 23px;
  font-size: 14px;
}
.footer .container .row .foo-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.footer .container .row .foo-right .right-wrapper .sosmed {
  display: flex;
  justify-content: flex-end;
}
.footer .container .row .foo-right .right-wrapper .sosmed .icon {
  margin-right: 18px;
  margin-bottom: 23px;
}
.footer .container .row .foo-right .right-wrapper .copyright p {
  color: white;
  font-family: "Montserrat";
  font-size: 14px;
}

@media screen and (max-width: 1152px) {
  #our-product {
    padding: 85px 0;
    background: black;
  }
  #our-product .container .content {
    margin-top: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 70px;
         column-gap: 70px;
    row-gap: 0;
  }
  #our-product .container .content .top {
    margin-top: 250px;
  }
  #our-product .container .content .card {
    background: black;
  }
  #our-product .container .content .card img {
    height: 570px;
  }
  #our-product .container .content .card h1 {
    margin: 40px 0;
    font-size: 20px;
    font-family: "Montserrat";
    color: white;
  }
  #our-product .container .content .card p {
    font-size: 17px;
    color: white;
    font-family: "Montserrat";
  }
}
@media screen and (max-width: 768px) {
  #product {
    background-position: center;
    padding: 200px 0px;
  }
  #product .container {
    padding: 0px 40px;
  }
  #product .container .product-wrapper {
    display: block;
  }
  #product .container .product-wrapper .left {
    margin-bottom: 23px;
  }

  #our-product .container {
    padding: 0px 40px;
  }
  #our-product .container .content {
    grid-template-columns: 1fr;
  }
  #our-product .container .content .top {
    margin-top: 0px;
  }
  #our-product .container .content .card {
    margin-top: 128px;
  }
  #our-product .container .content .card:nth-child(1) {
    margin-top: 0px;
  }

  #subcribe .container {
    padding: 0px 40px;
  }
  #subcribe .container .subcribe-wrapper {
    max-width: 100%;
  }

  .footer .container {
    padding: 0px 40px;
  }
}
@media screen and (max-width: 426px) {
  #product {
    height: 640px;
  }
  #product .container .product-wrapper .left .left-wrapper span {
    height: 2px;
  }
  #product .container .product-wrapper .left .left-wrapper p {
    font-size: 10px;
  }
  #product .container .product-wrapper .right .none-mobile {
    display: none;
  }
  #product .container .product-wrapper .right .none-desktop {
    font-size: 24px;
    display: block;
    line-height: 40px;
  }
  #product .container .product-wrapper .right p {
    display: none;
  }
  #product .container .action p {
    font-size: 16px;
    margin-right: 19px;
  }
  #product .container .action p span {
    font-size: 12px;
  }
  #product .container .action .action-right,
#product .container .action .action-left {
    height: 24px;
    width: 24px;
    margin-right: 16px;
  }
  #product .container .action .action-right img,
#product .container .action .action-left img {
    width: 8px;
    height: 8px;
  }

  #our-product .container .title h1 {
    font-size: 24px;
    line-height: 29.26px;
  }
  #our-product .container .content .card img {
    height: 331px;
  }
  #our-product .container .content .card h1 {
    font-size: 20px;
    line-height: 24.38px;
  }
  #our-product .container .content .card p {
    line-height: 17.07px;
    font-size: 14px;
  }

  #subcribe .container .subcribe-wrapper .title h1 {
    font-size: 24px;
    line-height: 29.26px;
  }
  #subcribe .container .subcribe-wrapper .content p {
    font-size: 13px;
    font-family: "Maven Pro";
  }
  #subcribe .container .subcribe-wrapper form {
    display: block;
  }
  #subcribe .container .subcribe-wrapper form input {
    width: 100%;
    font-size: 13px;
  }
  #subcribe .container .subcribe-wrapper form a {
    margin-top: 34px;
    margin-left: 0px;
    display: flex;
    font-size: 10px;
    justify-content: center;
  }

  .footer .container .row {
    display: block;
  }
  .footer .container .row .foo-left h1 {
    font-size: 20px;
  }
  .footer .container .row .foo-left p {
    font-family: "Maven Pro";
    font-size: 13px;
  }
  .footer .container .row .foo-right {
    margin-top: 84px;
    justify-content: flex-start;
  }
  .footer .container .row .foo-right .right-wrapper .sosmed {
    justify-content: flex-start;
  }
  .footer .container .row .foo-right .right-wrapper .copyright p {
    font-size: 13px;
    font-family: "Maven Pro";
  }
}/*# sourceMappingURL=product.css.map */