#intro {
  height: 900px;
  width: 100%;
  overflow: hidden;
  padding: 363px 0px;
  background: radial-gradient(69.48% 177.87% at 69.48% 59.89%, #343434 0%, #000000 100%);
  .container {
    img {
      position: absolute;
      width: 700px;
      right: 0px;
      top: 200px;
      z-index: 1;
    }
    .intro-wrapper {
      display: flex;
      .left {
        padding-top: 10px;
        .left-wrapper {
          display: flex;
          align-items: center;
          span {
            width: 18px;
            height: 2px;
            background-color: #DCBF01;
            margin-right: 8px;
          }
          p{
            color: white;
            margin: 0;
            font-family: 'Montserrat';
            font-size: 14px;
          }
        }
      }
      .right {
        padding-left: 45px;
        h1 {
          color: white;
          font-size: 61px;
          font-family: 'Montserrat';
        }
      }
    }
    .no-dekstop {
      display: none;
    }
  }
}

#feature {
  background-color: black;
  padding: 183px 0;
  .container {
    .feature-wrapper {
      width: 100%;
      display: grid;
      height: 535px;
      grid-template-columns: 70px 1fr 446px;
      grid-template-rows: 290px 110px 1fr;
      column-gap: 30px;
      grid-template-areas: 
        ". judul gambar"
        "garis isi gambar"
        ". action gambar"
      
      ;
      .garis {
        grid-area: garis;
        justify-self: end;
        padding-top: 15px;
        span {
          width: 18px;
          display: flex;
          height: 3px;
          background-color: #DCBF01;

        }
      }
      .judul {
        grid-area: judul;
        align-self: end;
        h1 {
          font-family: 'Montserrat';
          color: white;
          font-size: 48px;
          line-height: 58.51px;
          padding-bottom: 78px;
        }
      }
      .isi {
        grid-area: isi;
        h1 {
          color: white;
          font-family: 'Montserrat';
          font-size: 24px;
        }
        p {
          color: white;
          font-family: 'Maven Pro';
          font-size: 17px;
        }
      }
      .action {
        grid-area: action;
        padding-top: 20px;
        .action-wrapper {
          display: flex;
          align-items: center;
          .button1, .button2 {
            background-color: transparent;
            border: 1.5px solid white;
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 26px;
            img {
              width: 14px;
              height: 14px;
            }
          }
          .button1 {
            margin-right: 28px;
            opacity: 0.5;
          }
          p {
            margin: 0;
            color: white;
            margin-right: 46px;
            font-size: 24px;
            span {
              font-size: 14px;
            }
          }
        }
      }
      .gambar {
        background-color: aqua;
        grid-area: gambar;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

#power {
  background-color: #1F1F1F;
  padding: 229px 0;
  .container {
    .power-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 93px;
      .left {
        img {
          max-width: 100%;
        }

      }
      .right {
        .title {
          h1 {
            color: white;
            font-size: 48px;
            font-family: 'Montserrat';
            margin-bottom: 24px;
          }
        }
        .content {
          margin-bottom: 24px;
          p {
            color: white;
            font-size: 17px;
            font-family: 'Maven Pro';
            line-height: 32px;;
          }
        }
        .preview {
          display: flex;
          align-items: center;
          margin-bottom: 24px;
          span {
            height: 2px;
            width: 65px;
            background-color: #DCBF01;
            margin-right: 32px;
          }
          p {
            color: white;
            margin: 0;
          }
        }
        .box {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 135px;
          column-gap: 66px;
          .box1 {
            padding: 17px;
            background-color: #343434;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 100%;
              height: min-content;
            }
          }
        }
      }
    }
  }
}

#pricing {
  padding: 104px 0px;
  background-color: black;
  .container {
    .title {
      padding-left: 100px;
      margin-bottom: 79px;
      h1 {
        color: white;
        font-size: 48px;
        font-family: 'Montserrat';
      }
    }
    .pricing-wrapper {
      display: flex;
      justify-content: center;
      .wrapper {
        width: 730px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        .left {
          padding: 43px 39px 56px 39px;
          border: 5px solid #343434;
          h1, h2, p { 
            color: white;
            text-align: center;
            margin: 0px;
          }
          h1 {
            font-family: 'Montserrat';
            font-size: 24px;
            margin-bottom: 92px;
          }
          h2 {
            font-size: 34px;
            font-family: 'Montserrat';
            margin-bottom: 61px;
            span {
              font-size: 24px;
            }
          }
          p {
            font-family: 'Maven Pro';
          }
        }
        .right:before {
          content: "Save 10%";
          position: absolute;
          background-color: #DCBF01;
          margin-top: -66px;
          width: 265px;
          padding: 7px 0;
          text-align: center;
          display: flex;
          justify-content: center;
          font-size: 16px;
        }

        .right {
          padding: 43px 39px 56px 39px;
          border: 5px solid #343434;
          h1, h2, p, h3 { 
            color: white;
            text-align: center;
            margin: 0px;
          }
          h1 {
            font-family: 'Montserrat';
            font-size: 24px;
            margin-bottom: 48px;
          }
          h3 {
            font-family: 'Montserrat';
            font-size: 24px;
            margin-bottom: 15px;
            span {
              font-size: 20px;
            }
          }
          h2 {
            font-size: 34px;
            font-family: 'Montserrat';
            margin-bottom: 61px;
            span {
              font-size: 24px;
            }
          }
          p {
            font-family: 'Maven Pro';
          }
        }
      }
      
    }
  }
}

#subcribe {
  padding: 57px 0;
  background: #1C1C1C;
  .container {
    .subcribe-wrapper {
      width: 600px;
      margin: 0 auto;
      .title {
        h1 {
          text-align: center;
          color: white;
          font-size: 34px;
          font-family: 'Montserrat';
        }
      }
      .content {
        p {
          font-size: 17px;
          margin-top: 16px;
          font-family: 'Maven Pro';
          color: white;
          text-align: center;
          line-height: 32px;
        }
      }
      form {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        input {
          width: 425px;
          background: transparent;
          border-top: 1px solid transparent;
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
          border-bottom: 1px solid white;
          font-family: 'Maven Pro';
        }
        a {
          text-decoration: none;
          display: flex;
          color: #DCBF01;
          margin-left: 59px;
          align-items: center;
          font-family: 'Poppins';
          font-size: 16px;
          span {
            margin-left: 13px;
            display: flex;
          }
        }
      }
    }
  }
}


.footer {
  background-color: black;
  padding: 118px 0;
  .container {
    .row {
      align-content: flex-end;
      .foo-left {
        h1 {
          color: white;
          font-family: 'Montserrat';
          font-size: 24px;
          margin-bottom: 23px;
        }
        p {
          color: white;
          font-family: 'Montserrat';
          line-height: 17px;
          margin-bottom: 23px;
          font-size: 14px;
        }
      }
      .foo-right {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        .right-wrapper {
          .sosmed{
            display: flex;
            justify-content: flex-end;
            .icon {
              margin-right: 18px;
              margin-bottom: 23px;
            }
          }
          .copyright {
            p{
              color: white;
              font-family: 'Montserrat';
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1152px) {
  #intro {
    .container {
      img {
        max-width: 500px;
      }
    }
  }
  #feature {
    .container {
      .feature-wrapper {
        grid-template-rows: 290px 150px 1fr;
        .isi {
          p {
            br {
              display: none;
            }
          }
        }
      }
    }
  }
  #power {
    .container {
      .power-wrapper {
        .right {
          .box {
            grid-template-rows: 110px;
            column-gap: 40px;
          }
        }
      }
    }
  }
}

