$primary : #dcbf01;
$secondary : white;

#product {
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 400px;
  .container {
    .product-wrapper {
      display: flex;
      .left {
        width: 200px;
        .left-wrapper {
          display: flex;
          align-items: center;
          span {
            height: 3px;
            width: 18px;
            background-color: $primary;
            margin-right: 15px;
          }
          p {
            margin: 0;
            color: $secondary;
            font-family: 'Montserrat';
            font-size: 14px;
          }
        }
      }
      .right {
        h1 {
          color: $secondary;
          font-size: 61px;
          font-weight: 300px;
          font-family: 'Montserrat';
          margin-bottom: 40px;
        }
        .none-desktop {
          display: none;
        }
        p {
          font-size: 24px;
          font-family: 'Montserrat';
          color: $secondary;
          line-height: 29.26px;
        }
      }
    }
    .action {
      margin-top: 152px;
      display: flex;
      p {
        font-size: 24px;
        font-family: 'Montserrat';
        color: $secondary;
        margin-bottom: 0;
        margin-right: 48px;
        display: flex;
        align-items: center;
        span {
          font-size: 14px;
          font-family: 'Montserrat';
        }
      }
      .action-right,
      .action-left {
        background: transparent;
        justify-content: center;
        align-items: center;
        display: flex;
        border: 1.5px solid $secondary;
        height: 48px;
        width: 48px;
        border-radius: 26px;
        margin-right: 32px;
        img {
          width: 16px;
          height: 16px;
        }
      }
      .action-left {
        border: 1.5px solid rgb(255, 255, 255, 0.5);
        img {
          opacity: 0.5;
        }
      }
    }
  }
}

#our-product {
  padding: 85px 0;
  background: black;
  .container {
    .title {
      h1 {
        font-size: 48px;
        font-family: 'Montserrat';
        color: $secondary;
      }
    }
    .content {
      margin-top: 72px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 160px;
      .top {
        margin-top: 300px;
      }
      .card {
        background: black;
        img {
          height: 570px;
        }
        h1 {
          margin: 40px 0;
          font-size: 20px;
          font-family: 'Montserrat';
          color: white;
        }
        p {
          font-size: 17px;
          color: white;
          font-family: 'Maven Pro';
        }
      }
    }
  }
}

#subcribe {
  padding: 57px 0;
  background: #1C1C1C;
  .container {
    .subcribe-wrapper {
      width: 600px;
      margin: 0 auto;
      .title {
        h1 {
          text-align: center;
          color: $secondary;
          font-size: 34px;
          font-family: 'Montserrat';
        }
      }
      .content {
        p {
          font-size: 17px;
          margin-top: 16px;
          font-family: 'Maven Pro';
          color: $secondary;
          text-align: center;
          line-height: 32px;
        }
      }
      form {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        input {
          width: 425px;
          background: transparent;
          border-top: 1px solid transparent;
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
          border-bottom: 1px solid $secondary;
          font-family: 'Maven Pro';
        }
        a {
          text-decoration: none;
          display: flex;
          color: $primary;
          margin-left: 59px;
          align-items: center;
          font-family: 'Poppins';
          font-size: 16px;
          span {
            margin-left: 13px;
            display: flex;
          }
        }
      }
    }
  }
}


.footer {
  background-color: black;
  padding: 118px 0;
  .container {
    .row {
      align-content: flex-end;
      .foo-left {
        h1 {
          color: white;
          font-family: 'Montserrat';
          font-size: 24px;
          margin-bottom: 23px;
        }
        p {
          color: white;
          font-family: 'Montserrat';
          line-height: 17px;
          margin-bottom: 23px;
          font-size: 14px;
        }
      }
      .foo-right {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        .right-wrapper {
          .sosmed{
            display: flex;
            justify-content: flex-end;
            .icon {
              margin-right: 18px;
              margin-bottom: 23px;
            }
          }
          .copyright {
            p{
              color: white;
              font-family: 'Montserrat';
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1152px) {
  
  #our-product {
    padding: 85px 0;
    background: black;
    .container {
      .content {
        margin-top: 72px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 70px;
        row-gap: 0;
        .top {
          margin-top: 250px;
        }
        .card {
          background: black;
          img {
            height: 570px;
          }
          h1 {
            margin: 40px 0;
            font-size: 20px;
            font-family: 'Montserrat';
            color: white;
          }
          p {
            font-size: 17px;
            color: white;
            font-family: 'Montserrat';
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #product {
    background-position: center;
    padding: 200px 0px;
    .container {
      padding: 0px 40px;
      .product-wrapper {
        display: block;
        .left {
          margin-bottom: 23px;
        }
      }
    }
  }
  #our-product {
    .container {
      padding: 0px 40px;
      .content {
        grid-template-columns: 1fr;
        .top {
          margin-top: 0px;
        }
        .card {
          margin-top: 128px;
        }
        .card:nth-child(1) {
          margin-top: 0px;
        }
      }
    }
  }
  #subcribe {
    .container {
      padding: 0px 40px;
      .subcribe-wrapper {
        max-width: 100%;
      }
    }
  }
  .footer {
    .container{
      padding: 0px 40px;
      .row {
        display: block;
        .foo-left {
          h1 {
            font-size: 20px;
          }
          p {
            font-family: 'Maven Pro';
            font-size: 13px;
          }
        }
        .foo-right {
          margin-top: 84px;
          justify-content: flex-start;
          .right-wrapper {
            .sosmed {
              justify-content: flex-start;
            }
            .copyright {
              p {
                font-size: 13px;
                font-family: 'Maven Pro';
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 426px) {
  #product {
    height: 640px;
    .container {
      .product-wrapper {
        .left {
          .left-wrapper {
            span {
              height: 2px;
            }
            p {
              font-size: 10px;
            }
          }
        }
        .right {
          .none-mobile {
            display: none;
          }
          .none-desktop {
            font-size: 24px;
            display: block;
            line-height: 40px;
          }
          p {
            display: none;
          }
        }
      }
      .action {
        p {
          font-size: 16px;
          margin-right: 19px;
          span {
            font-size: 12px;
          }
        }
        .action-right, 
        .action-left {
          height: 24px;
          width: 24px;
          margin-right: 16px;
          img {
            width: 8px;
            height: 8px;
          }
        }
      }
    }
  }
  #our-product {
    .container {
      .title {
        h1 {
          font-size: 24px;
          line-height: 29.26px;
        }
      }
      .content {
        .card {
          img {
            height: 331px;
          }
          h1 {
            font-size: 20px;
            line-height: 24.38px;
          }
          p {
            line-height: 17.07px;
            font-size: 14px;
          }
        }
      }
    }
  }

  #subcribe {
    .container {
      .subcribe-wrapper {
        .title {
          h1 {
            font-size: 24px;
            line-height: 29.26px;
          }
        }
        .content {
          p {
            font-size: 13px;
            font-family: 'Maven Pro';
          }
        }
        form {
          display: block;
          input {
            width: 100%;
            font-size: 13px;
          }
          a {
            margin-top: 34px;
            margin-left: 0px;
            display: flex;
            font-size: 10px;
            justify-content: center;
          }
        }
      }
    }
  }

  .footer {
    .container{
      .row {
        display: block;
        .foo-left {
          h1 {
            font-size: 20px;
          }
          p {
            font-family: 'Maven Pro';
            font-size: 13px;
          }
        }
        .foo-right {
          margin-top: 84px;
          justify-content: flex-start;
          .right-wrapper {
            .sosmed {
              justify-content: flex-start;
            }
            .copyright {
              p {
                font-size: 13px;
                font-family: 'Maven Pro';
              }
            }
          }
        }
      }
    }
  }
}